<div fxLayout="row" fxLayout.xs="column">
  <h1 translate fxFlex="66%">Heroes</h1>
  <div fxFlex="33%">
    <mat-input-container class="input-block">
      <input matInput [placeholder]="'Search hero' | translate" [formControl]="heroCtrl"/>
    </mat-input-container>
  </div>
</div>


<div *ngIf="!heroes.length">
  <span translate>No heroes found.</span>
</div>

<div *ngIf="heroes.length" class="overwatch-heroes">

  <div *ngFor="let hero of filteredHeroes | async">
    <div class="overwatch-hero" (click)="openHeroSplashDialog(hero)">
      <div class="overwatch-hero__title">{{hero.attributes.name}}</div>
      <div class="overwatch-hero__portrait">
        <img [src]="hero.attributes.image_portrait"/>
      </div>
    </div>
  </div>

  <div *ngIf="pagesLoaded < pages" class="overwatch-hero-loader" (click)="loadMore()" #loader>
    <mat-spinner></mat-spinner>
  </div>
</div>
